/* ########################## */
/* #        COLOR           # */
/* ########################## */
:root{
    --balotta: #f1b050;
    --lilly: #f15072;
    --bazza: #f1e050;
}

/* ########################## */
/* #        GENERAL         # */
/* ########################## */
@font-face {
    font-family: 'OstrichSans-Heavy';
    src:  url('OstrichSans-Heavy.otf') format('opentype');
}

* {
    box-sizing: border-box;
    font-family: 'OstrichSans-Heavy';
    background-color: #f5f1dc;
    font-size: 30px;
}

header {
    height: 120px;
    margin-top: 20px;
}

.logo{
    display: block;
    height: 100%;
    margin: auto;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.flexColumn{
    display: flex;
    flex-direction: column;
}

.fullParent{
    width: 100%;
}

.halfParent{
    width: 50%;
}

.quarterParentHeight{
    height: 25%;
}

.halfParentHeight{
    height: 50%;
}

.fullParentHeight{
    height: 100%;
}

.justifyText{
    text-align: justify;
}

.centerText{
    text-align: center;
}

.defaultCursor{
    cursor: default;
}

/* ########################## */
/* #        DEBUG           # */
/* ########################## */

/* div{
    border: 1px solid red;
} */

/* ########################## */
/* #    DETTAGLIO BIRRA     # */
/* ########################## */

.container{
    margin: auto;
    width: 90vw;
    max-width: 1400px;
}

.container .left{
    width: 50%;
    padding-top: 150px;
}

.container .right{
    width: 50%;
}

.padded{
    padding: 50px;
}

h1{
    text-align: right;
    font-size: 150px;
    margin: 0;
    /* letter-spacing: 28px; */
}

h2{
    text-align: right;
    font-size: 80px;
    margin: 0;
}

h5{
    text-align: right;
    font-size: 30px;
    margin: 0;
    margin-top: -25px;
    margin-bottom: 15px;
}

h3{
    font-size: 40px;
    margin: 0;
}

.beerDescription{
    padding: 50px;  
    display: flex;
    align-items: center;
    height: 100%;
}

.backIcon{
    height: 70px;
    margin-left: 5vw;
    padding-left: 50px;
}

footer{
    margin-bottom: 50px;
}

.spacer50px{
    height: 50px;
}

.productContainer{
    text-align: center;
}

.productContainer img{
    height: 100%;
}



















/* SIMO */

/* 
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
} */

